extends dashboardlayout

block content
  h1  Greetings, #{given_name} 
  h1 Welcome to your Idea Board! 
  
  h2 Click #[a(href="/logout") here] to log out
  button(type="button") Add Note


  div(class="container")

  div(class="sticky")
    p Click #[a(href="https://havenly.com/interior-design-ideas") here] for Havenly 


  div(class="sticky")
    p Click #[a(href="https://www.melissagaltinteriors.com/buckhead-interior-design/") here] for Melissa from Buckhead design site 